<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Email\Sender\ShipmentSender">
        <plugin name="fishpig-trustpilot-bcc-invites" type="FishPig\TrustPilotBccInvites\Plugin\Magento\Sales\Model\Order\Email\Sender\ShipmentSenderPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Container\ShipmentIdentity">
        <plugin name="fishpig-trustpilot-bcc-invites" type="FishPig\TrustPilotBccInvites\Plugin\Magento\Sales\Model\Order\Email\Container\ShipmentIdentityPlugin"/>
    </type>
</config>
